<h2 mat-dialog-title>Editar ATM</h2>
<mat-dialog-content>
  <div style="display: flex; flex-direction: column; gap: 10px; padding-top: 10px;">
    <mat-form-field appearance="outline">
      <mat-label>Ubicacion</mat-label>
      <input matInput [(ngModel)]="data.ubicacion">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="data.estado">
        <mat-option value="Operativo">Operativo</mat-option>
        <mat-option value="Mantenimiento">Mantenimiento</mat-option>
        <mat-option value="Fuera de Servicio">Fuera de Servicio</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data">Guardar</button>
</mat-dialog-actions>